* {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #000;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 60px;
  padding: 10px;
  justify-content: space-between;
  box-sizing: border-box;
}
.navbar a img {
  padding-left: 50px;
  position: center;
}
.navbar1 {
  background-color: dimgrey;
  top: 90px;
  margin-left: 190px;
  width: 100%;
}
